{% include head.html %}
{% include header.html %}

<div class="section-div">
    <h2 id="projects">My Projects</h2>
    <p id="projects-desc">Here are some of my projects. Click on a project to learn more about it in detail.</h3>
    <div class="project-collection">
        {% for post in site.posts %}
        <div class="project-card">
            <img class="project-image" src="{{ post.image }}" alt="{{ post.alt }}">
                <div class="project-card-overlay"><p id="project-desc">{{ post.subtitle }}</p>
                    <a href="{{site.baseurl}}{{ post.url }}"><button class="see-project">See Project</button></a> 
            </div>
            <div class="project-desc">
                <p class="project-card-title">{{ post.title }}</p>
                
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>


{% include footer.html %}